<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/script/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Formulário para anúncio de oferta</title>
</head>
<body>
<header>
    <a href="index.html" id="homePage"> Arrenda || Procura</a>
    <nav class="dropdown">
        <img class="dropbutton" src="images/menu.svg" alt="menu" onclick="myFunction()">
        <!---<img src="images/menu.svg" alt="menu">--->
        <ul id="myDropdown" class="dropdown-content">
            <li><a href="procurar.html">Procurar</a></li>
            <li><a href="anunciar.html">Anunciar</a></li>
            <li><a href="login.html" >Login</a></li>
            <li><a href="admin.html">Administração</a></li>
            <li><a href="utilizador.html">Utilizador</a></li>
        </ul>
    </nav>
</header>

<div id="ContentAnunciar">
    <h2>Formulário</h2>
<form action="" method="POST" onsubmit="return submission(this)">
    <ul id="anunciaul">
        <li>
            <label>Tipo:
                <select name="tipo">
                    <option value="oferta">Oferta</option>
                    <option value="procura">Procura</option>
                </select>
            </label>
        </li>
        <li><label>Nome: <input type="text" name="anunciante"></label></li>
        <li><label>Data: <input type="text" name="data"></label></li>
        <li><label>Género: <input type="text" name="genero"></label></li>
        <li><label>Detalhes: <input type="text" name="detalhes"></label></li>
        <li><label>Contacto: <input type="text" name="contacto"></label></li>
        <li><label>Localização: <input type="text" name="zona"></label></li>
        <li><label>Tipo de alojamento: <input type="text" name="tipo_alojamento"></label></li>
        <li><label>Preço: <input type="number" min="0" name="preco"></label></li>
    </ul>

    <input type="submit" value="Submeter">
</form>
</div>
<footer id="ffooter">
    <p> Patrocinadores:</p>
    <div id="pat">
        <img src="images/aston.svg" alt="aston martin">
        <img src="images/uelogo.svg" alt="UE">
    </div>

    <hr>
    <p>Developed by Guilherme Grilo e Helder Godinho</p>
</footer>
</body>
</html>