<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/script/script.js"></script>
    <title>Autenticação</title>
</head>
<body>
<header>
    <a href="index.html" id="homePage"> Arrenda || Procura</a>
    <nav class="dropdown">
        <img class="dropbutton" src="images/menu.svg" alt="menu" onclick="myFunction()">
        <!---<img src="images/menu.svg" alt="menu">--->
        <ul id="myDropdown" class="dropdown-content">
            <li><a href="procurar.html">Procurar</a></li>
            <li><a href="anunciar.html">Anunciar</a></li>
            <li><a href="login.html" >Login</a></li>
            <li><a href="admin.html">Administração</a></li>
            <li><a href="utilizador.html">Utilizador</a></li>
        </ul>
    </nav>
</header>

<div id="login">
  <h2>Autenticação</h2>
  <ul>
    <li><label>Nome de utilizador: <input type="text" name="user"></label></li>
    <li><label>Palavra-passe: <input type="password"></label></li>
  </ul>
    <input type="submit" value="Entrar">
</div>
<footer id="lfooter">
    <p> Patrocinadores:</p>
    <div id="pat">
        <img src="images/aston.svg" alt="aston martin">
        <img src="images/uelogo.svg" alt="UE">
    </div>

    <hr>
    <p>Developed by Guilherme Grilo e Helder Godinho</p>
</footer>
</body>
</html>