<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/script/script.js"></script>
    <title>Página de utilizador</title>
</head>
<body>
<header id="uheader">
    <a href="index.html" id="homePage"> Arrenda || Procura</a>
    <nav class="dropdown">
        <img class="dropbutton" src="images/menu.svg" alt="menu" onclick="myFunction()">
        <!---<img src="images/menu.svg" alt="menu">--->
        <ul id="myDropdown" class="dropdown-content">
            <li><a href="procurar.html">Procurar</a></li>
            <li><a href="anunciar.html">Anunciar</a></li>
            <li><a href="login.html" >Login</a></li>
            <li><a href="admin.html">Administração</a></li>
            <li><a href="utilizador.html">Olá, Miguel</a></li>
        </ul>
    </nav>
</header>

<div id="userO"></div>
<div id="userP"></div>

<footer id="ufooter">
    <p> Patrocinadores:</p>
    <div id="pat">
        <img src="images/aston.svg" alt="aston martin">
        <img src="images/uelogo.svg" alt="UE">
    </div>

    <hr>
    <p>Developed by Guilherme Grilo e Helder Godinho</p>
</footer>

<script>
    searchUserOffers("Miguel");
    searchUserSearch("Miguel");
</script>
</body>
</html>