/* index.html */
html, body{
    margin: 0;
}
/* Cabeçalho */
header {
    background-color: #D0B8A8;
    width: 100%;
    height: 60px;

}

.main-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.footer {
    width: 100%;
    background-color: #D0B8A8;
}

#pat {
    display: flex;
    align-items: center;
}

#pat img{
    padding: 1vh;
    width: 3vw;
    margin-left: 1vw;
}

#resultados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
}

#resultados .box {
    width: 100%;
}

#AnunciarBox {
    height: 85vh !important;
}

#ResultadosBox {
    display: flex;
    flex-direction: column;
}

.dropbutton {
    display: none;
}

#changeadstate {
    display: flex;
    flex-direction: column;
}

.adminbutton, .userbutton {
    width: 65%;
    margin: auto;
    margin-top: 5%;
}

.userbutton {
    margin-top: 0 !important;
}

#msgsbox {
    width: 60%;
    background-color: #D0B8A8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    overflow: scroll;
    height: 75vh;
}

*{
    font-family: Ubuntu, sans-serif;
    list-style: none;
    color: #8B4513 !important;
}

#homePage{
    float: left;
    position: relative;
    margin-left: 5%;
    width: auto;
    text-decoration: none;
    font-size: 2em;
    top: calc(40px - 1em/2);
    color: black;
}

header nav ul {
    float: right;
    /*display: flex;*/
    color: black;
    padding-right: 15px;
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: none;
    position: relative;
    top: calc(20px - (1em/2));
}
header nav ul li{
    font-size: larger;
    display: inline-block;
}
header nav ul li a {
    padding: 0 10px 0 15px;
    text-decoration: none;
    color: black;
}


/* Corpo */
body {
    background-color: #F8EDE3;
    position: relative;
    min-height: 100vh;
}
/*
main{
    margin: 5%;
    padding-bottom: 2.5rem;
}
*/

img{
    width: 100%;
}

#offer {
    text-align: center;
}

#search {
    text-align: center;
}

#ofertas{
    width: 100%;
    display: flex;
    justify-content: center;
}

#procuras{
    width: 100%;
    display: flex;
    justify-content: center;
}

#ofertas a {
    text-decoration: none;
    color: black;
}

#ofertas .box ul {
    list-style-type: none;
    overflow: auto;
}

#ofertas img {
    width: 100%;
    height: 14em;
}

#procuras img {
    width: 100%;
    height: 14em;
}

#ofertas .box:first-child, #procuras .box:first-child {
    margin-left: 0;
}

.box {
    background: linear-gradient(90deg, #D0B8A8 0%, #ECCDB8 100%);
    float: left;
    width: 28%;
    margin-left: 5%;
}

#procuras a {
    text-decoration: none;
    color: black;
}

#procuras .box ul {
    list-style-type: none;
    overflow: auto;
}

.mae{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mae .footer #pat #am{
    padding-left: 10% ;
    max-width: 100%;
    height: 3em;
}

.mae .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, whitesmoke, lightgray);
    text-align: center;

}
#ContentAnunciar input[type=submit]{
    width: 30%;
    background-color: #191907;
    color: white;
    padding: 3%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#ContentAnunciar input[type=text], select, input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 1%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


#pay{
    width: 50%;
    height: 50%;
    margin-left: -5%;
    background-color: rgba(0, 0, 0, 0);
    padding: 3%;



}

#search-type {
    height: auto !important;
}

#pay img{

    margin-left: -10%;
    padding-left: 15%;
    height: 30%;
    width: 20%;
}
#pay ul{
    padding-left: 40%;

    margin-top: -20%;
    font-size: 200%;
    list-style: none;
}
#pay ul li{
    margin: 1%;
}

.footer #sponsors {
    font-size: medium;
    float: left;
    margin-top: -0.1em;
}
.footer #credits {
    font-size: small;
    text-align: center;
    float: bottom;
}

#stateadmin{
    width: 15%;
    padding-left: 42.5%;
    height: 75vh;
}

/* procurar.jsp */
#opcoes{
    list-style-type: none;
}

.ContentBox input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 4vh !important;
}
.ContentBox h2{
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 10%;
}

.ContentBox {
    height: 65vh;
    margin: auto;
    justify-content: center;
    padding: 5%;
    border-style: solid;
    border-color: #8B4513;
    border-radius: 5%;
    border-width: 2px;
    background: linear-gradient(90deg, #D0B8A8 0%, #ECCDB8 100%);
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.ContentBox input{
    width: 100%;
    border-radius: 9px;
    border-color: black;
    padding-left: 10px;
    font-size: large;
    height: auto;

}

.ContentBox select{
    border-radius: 9px;
    border-color: black;
    padding-left: 10px;
    font-size: 0.75em;
    height: auto;
}

.ContentBox ul li{
    margin: 1%;
}

.ContentBox ul{
    padding-left: 0.9%;
}

.ContentBox input[type=submit]{
    width: 98%;
    color: white;
    padding: 3%;
    margin-left: 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/*
#resultados .box img{
    width: 100%;
}

#resultados .box a{
    text-decoration: none;
    color: black;
}

#resultados .box a ul{
    list-style-type: none;
    text-align: center;
}
#resultados .box {
    box-sizing: content-box;
    background: linear-gradient(to right, cyan, deepskyblue);
    width: 50%;
    margin: auto;
}
*/
#pfooter {
    position: relative;
    bottom: calc(2px - 23em);
    width: 100%;
}

/*Anuncio.html*/

#TituloAnuncio{
    text-align: center;
}

#anu {
    height: 75vh;
    display: flex;
}

#mb {
    height: 72vh;
}

#anu > .box {
    background: linear-gradient(90deg, #D0B8A8 0%, #ECCDB8 100%);
    float: left;
    width: 25%;
    margin-left: 0%;
}

#AdBox {
    width: 100% !important;
    flex-direction: row !important;
}
/*
#anu .box a {
    text-decoration: none;
    color: black;
}
#anu .box img{
    width: 100%;
    margin: auto;
    display: block;

}
#anu .box div{
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
}
#anu .box{
    box-sizing: content-box;
    background: linear-gradient(to right, cyan, deepskyblue);
    width: 50%;
    margin: auto;
}

#anu .box ul{
    list-style-type: none;
}
#anu .box input[type=text]{
    margin: auto;
    border-radius: 9px;
    border-color: black;
    padding-left: 10px;
    font-size: medium;
    height: auto;

}

#anu .box input[type=submit]{
    width: 10vw;
    margin-left: auto;
    height: auto;
}

#anu .box ul li{
    margin: 2%;
    font-size: medium;
}


#anufooter {
    position: relative;
    bottom: calc(15px - (2em));
}
*/

.box form {
    display: flex;
    flex-direction: column;
}

/* form.html */
#ContentAnunciar ul{
    list-style-type: none;
}

#TituloAnunciar{
    text-align: center;
    font-size: 1.5em;
}
#ContentAnunciar{
    width: 50%;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 5%;
    border-style: solid;
    border-color: #B6C7D6;
    border-radius: 20px;
    background-color: #EAF0F6;
    height: 60%;
}
#ContentAnunciar #anunciaul li{
    margin: -1%;
}

#ContentAnunciar input{
    border-radius: 9px;
    border-color: black;
    padding-left: 10px;
    font-size: large;
    height: auto;
}
#ContentAnunciar h2{
    margin-top: -5%;
    text-align: center;
}

#ContentAnunciar select{
    border-radius: 9px;
    border-color: black;
    padding-left: 10px;
    font-size: large;
    height: auto;
}




#ContentAnunciar ul li{
    margin: 2%;
    padding-right: 8%;
}


#ativo .box {
    box-sizing: content-box;
    margin: 2% auto;
    width: 50%;
    background: linear-gradient(to right, cyan, deepskyblue);
}

#ativo .box img {
    width: 100%;
}

#ativo .box div ul{
    list-style-type: none;
    text-align: center;
    overflow: auto;
}

#ativo .box form ul{
    list-style-type: none;
    text-align: center;
    overflow: auto;
}

#inativo .box {
    box-sizing: content-box;
    margin: 2% auto;
    width: 50%;
    background: linear-gradient(to right, cyan, deepskyblue);
}

#inativo .box img {
    width: 100%;
}

#inativo .box div ul {
    list-style-type: none;
    text-align: center;
    overflow: auto;
}

#inativo .box form ul {
    list-style-type: none;
    text-align: center;
    overflow: auto;
}

#afooter {
    bottom: calc(20em - (45em));
}

/* utilizador.jsp */
#ufooter {
    position: relative;
    bottom: calc(19.8em - 45em);
}

/* anuncio_utilizador.html */

#utifooter {
    position: relative;
    bottom: calc(2px - 42em);
}

#anu_user .box div button{
    border: none;
    color: black;
    margin-top: 2%;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
#userads {
    clear: both;
}
/*
#usero {
    clear: both;
    float: top;
    width: 100%;
}
#usero .box{
    clear: both;
    float: left;
    margin-left: 5%;
}
#usero .box img {
    width: 20%;
    height: 20%;

}
#usero h2{
    text-align: center;
}
#userp h2{
    text-align: center;
}
#userp{
    clear: both;
    width: 100%;
    float:bottom;
}

#userp .box a img{
    height: 20%;
    width: 20%;
}

#userp .box a ul{
    margin-left: 2%;
}
#userp .box {
    clear: both;
    float: left;
    margin-left: 5%;

}
*/
#login-box {
    width: 30%;
    height: 30%;
    margin: auto;
    justify-content: center;
    padding: 8%;
    border-style: solid;
    border-color: #B6C7D6;
    border-radius: 10%;
    background-color: #EAF0F6;
}

#login-box h2{
    text-align: center;
    font-size: xxx-large;
}

#login-box table{
    margin-left: 25%;

}

#login-box table input[type=text]{
    width: 100%;
}

#registo {
    height: 50%;
    width: 50%;
    margin: auto;
    justify-content: center;
    padding: 5%;
    border-style: solid;
    border-color: #B6C7D6;
    border-radius: 10%;
    background-color: #EAF0F6;
}
#registo li {
    font-size: x-large;
    padding: 3%;
}

#registo input[type=text], input[type=password]{
    width: 100%;
    padding: 2%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    height: 4vh !important;
}


/*paginação*/
.hidden {
    display: none;
}

.pagination-container {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
}

.pagination-number,
.pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background: #fff;
}

.pagination-number.active {
    color: #fff;
    background: #0085b6;
}

@media screen and (max-width: 450px){
    #homePage {
        font-size: 1.5em;
    }

    .dropbutton {
        width: calc(15vw - 1em);
        height: calc(20vw - 1em);
    }
}

@media screen and (max-width: 929px){
    .dropbutton {
        display: block;
        padding: 10% 50%;
        cursor: pointer;
    }

    .dropdown {
        width: 8%;
        position: absolute;
        left: 90%;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: static;
        background-color: #f9f9f9;
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 10px 30px;
        z-index: 1;
        overflow: auto;
    }

    .dropdown-content li {
        margin-top: 5%;
        color: black;
    }



    .show {display: block;}
}

@media screen and (max-width: 660px){
    #ContentProcura{
        width: 300px;
        margin: auto;
        text-align: center;
        padding: 20px;
        border-style: solid;
        border-color: #B6C7D6;
        border-radius: 20px;
        background-color: #EAF0F6;
    }
    #ContentProcura h2{
        font-size: medium;
    }

    #ContentProcura input[type=text], select{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: auto !important;
    }

    #ContentProcura input[type=submit]{
        width: 100%;
        background-color: #191907;
        color: white;
        padding: 3%;
        margin-left: 2.5%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }



    #login{
        width: 300px;
        margin: auto;
        text-align: center;
        padding: 20px;
        border-style: solid;
        border-color: #B6C7D6;
        border-radius: 20px;
        background-color: #EAF0F6;
    }
    #login h2{
        font-size: medium;
    }
    #login ul{
        font-size: small;
    }
    #login input[type=text]{
        height: auto;
        width: 50px;
    }
    #login input[type=password]{
        height: auto;
        width: 50px;
    }
    #login input[type=submit]{
        font-size: smaller;
        height: auto;
        width: 100px;
    }

    #anu .box input[type=text]{
        margin: auto;
        border-radius: 9px;
        border-color: black;
        padding-left: 10px;
        font-size: medium;
        height: auto;
        width: 25vw;
    }

    #anu .box input[type=submit]{
        width: 20vw;
        margin: auto;
        height: auto;
    }
    #anu .box ul li{
        font-size: medium;
    }

    #ativo .box {
        width: 80%;
    }

    #inativo .box {
        width: 80%;
    }
}

a{
    text-decoration: none;
}

